<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encode Intro Session</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="index-wrapper">
    <div class="logo-wrapper">
    <img src="./logos/encodelogo.png" alt="">
    </div>
    <h1 class="title">Encode's Intro Session Treasure Hunt </h1>
    <form action="/getShuffle" method="POST">
        <!-- <label for="getTeams">Get Teams</label> -->
        <!-- <input type="submit" name="getTeams" value="Get Teams"> -->
        <div class="team-btn">
        <button type="submit" name="getTeams" value="Get Teams">Make Teams</button>
        </div>
    </form>
</div>
</body>
</html>