@font-face {
    font-family: 'Encode-Font';
    src: url('./Fonts/GrandSlang-Roman.ttf');
}


body{
    background-color: #1a1818;
}
.index-wrapper{
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.title{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    min-width: 690px;
    max-width: 690px;
    color: #ece7e1;
    font-weight: 500;
    font-family: 'Encode-Font';
    letter-spacing: 3px;

}

.logo-wrapper{
    width: 12vw;
    margin: 0 auto;
}

.logo-wrapper img{
    width: 100%;
}


.team-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.team-btn button{
    outline: none;
    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;
    min-width: 250px;
    color: white;
    max-width: 250px;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Encode-Font';
    letter-spacing: 3px;
}

.team-btn button:hover{
    background-color: rgb(0,164,86);
    color: white;
}
